* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tabla {
  border-spacing: 0;
  border-collapse: collapse;
  width: 800px;
  margin: 100px auto;
}

td,
th {
  border: solid 1px grey;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tbody tr:hover {
  background-color: rgb(147, 246, 119) !important;
}

thead {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
}

.div {
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  align-items: flex-end;
  justify-content: right;
  padding-bottom: 15px;
  margin: 10px;
}

input {
  font-size: 16px;
  text-align: center;
  border: none;
  width: 300px;
  height: 30px;
  background: none;
  outline: 0;
}

input:hover {
  background-color: blanchedalmond;
  border-radius: 5px;
}
